*.dcu
*.dcp
*.bpl
*.exe
*.ddp
*.dof
*.dsk
*.oca
*.$$$
*.zip
*.dproj
*.identcache
*.local
*.~*
*.2007
*.o
*.ppu
*.bak
*.nol
*.rsm
*.cfg
*.otares
*.tvsconfig
*.vlb
__history/
*.stat
*.log
